@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.MenuItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(2, 0.5fr) repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fad390;
  align-items: center;

  margin: 1rem;
  padding: 1rem;
  border: 2px solid #636e72;
  border-radius: 15px;
}

.menuItem__header {
  grid-area: 1 / 1 / 2 / 4;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.menuItem__description {
  grid-area: 2 / 1 / 3 / 4;
}
.menuItem__weight {
  grid-area: 3 / 1 / 4 / 2;
}
.menuItem__price {
  grid-area: 3 / 3 / 4 / 4;
}
.menuItem__decrease-button {
  grid-area: 4 / 1 / 5 / 2;
}
.menuItem__amount {
  grid-area: 4 / 2 / 5 / 3;
}
.menuItem__increase-button {
  grid-area: 4 / 3 / 5 / 4;
}
.menuItem__order-button {
  margin-top: 1rem !important;
  grid-area: 5 / 1 / 6 / 4;
}

.menuItem__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fad390;
  border: 2px solid #636e72;
  box-shadow: 24;
  padding: 40px;
}

.menuItem__modal--additional {
  font-size: 2rem !important;
  font-weight: 700 !important;
}

.menuItem__additional-i-button {
  margin-top: 1rem !important;
}

@media (min-width: 992px) {
  .MenuItem {
    display: grid;
    grid-template-columns: 3fr repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .menuItem__header {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
  }

  .menuItem__description {
    grid-area: 2 / 1 / 3 / 2;
  }
  .menuItem__weight {
    grid-area: 1 / 2 / 3 / 3;
    font-size: 1.2rem !important;
  }
  .menuItem__price {
    grid-area: 1 / 3 / 3 / 4;
    font-size: 1.2rem !important;
  }
  .menuItem__decrease-button {
    grid-area: 1 / 4 / 3 / 5;
    font-size: 1.3rem !important;
  }
  .menuItem__amount {
    grid-area: 1 / 5 / 3 / 6;
    font-size: 1.2rem !important;
  }
  .menuItem__increase-button {
    grid-area: 1 / 6 / 3 / 7;
    font-size: 1.3rem !important;
    background-color: #fad390;
  }
  .menuItem__order-button {
    grid-area: 1 / 7 / 3 / 8;
    font-size: 1.3rem !important;
    margin-top: 0 !important;
  }
}
