:root {
  --color-red: #c20e0e;
  --color-blue: #1876d1;
  --color-white: #ededed;
  --color-dark-white: #dbdbe0;
  --color-black: #1c1b1b;
  --color-grey: #494955;
}

.DiningRoomTable__table {
  min-width: 95%;
}

.DiningRoomTable__table-head {
  background-color: var(--color-blue);
}

.DiningRoomTable__table-row:nth-child(2n) {
  background-color: var(--color-dark-white);
}
